{% extends "base.html" %}

{% block head %}
	<script src="https://unpkg.com/alpinejs" defer></script>
	<style>[x-cloak] { display: none !important; }</style>
	<title>Alpine.js</title>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3 class="p-2">Alpine.js</h3>
				<div class="my-3" x-data="{ open: false }">
					<button @click="open = !open" class="btn btn-primary">Toggle visibility</button>
					<div x-show="open" x-transition.duration.700ms>Contents...</div>
				</div>

				<div class="my-3" x-data="{
					open: false,
					toggle() {
						this.open = !this.open
					}
				}">
					<button @click="toggle()" class="btn btn-primary">Toggle visibility v2</button>
					<div x-show="open" x-transition.duration.700ms>Contents...</div>
				</div>

				<div class="my-3" x-data="{ text: 'Hello world' }">
					<div x-text="text"></div>
					<button @click="text = 'Reset'" class="btn btn-primary">Reset text</button>
				</div>

				<div class="my-3" x-data="{ text: '<b>Hello world</b>' }">
					<div x-html="text"></div>
				</div>

				<div class="my-3" x-data="">
					<label>Log event to console
						<input type="text" @change="console.log($event.target.value)" class="form-control">
					</label>
				</div>

				<form class="my-3" x-data="{ name: '', rules: false }" @submit.prevent="">
					<label for="dataForm">Sync input value with data</label><br>
					<input x-model="name" type="text" id="dataForm">
					<button @click="name = 'some text'" class="btn btn-primary">Change text</button>
					<br>
					<div x-text="name"></div>
					<input x-model="rules" type="checkbox" id="rules">
					<label for="rules">I agree with rules</label>
					<div x-text="rules"></div>
				</form>

				<div class="my-3" x-data="{ gender: '' }">
					<div>
						<label for="male">Male</label><input type="radio" x-model="gender" id="male" value="M">
					</div>
					<div>
						<label for="female">Female</label><input type="radio" x-model="gender" id="female" value="F">
					</div>
					<div x-text="gender"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="my-3" x-data="{
				name: '',
				result: '',
				countries: {},
				getData() {
					fetch(`https://api.nationalize.io?name=${this.name}`)
					.then(response => response.json())
					.then(response => {
						this.result = response?.country[0]?.country_id
						this.countries = response?.country
						})
					}
				}">
					<label for="nameForm">Name</label><br>
					<input @keyup.debounce.700ms="getData()" x-model="name" type="text" id="nameForm"
					       class="form-control col-md-4">
					<template x-if="result">
						<div class="d-flex">
							<div>First result:</div>
							<div x-text="result"></div>
						</div>
					</template>

					<template x-for="val in countries" :key="val.country_id">
						<div class="d-flex">
							<div x-text="val.country_id"></div>
							:
							<div x-text="val.probability"></div>
						</div>
					</template>
				</div>

				<div class="my-3" x-data="{
				onPageLoad() {
					const el = document.getElementById('xinit');
					el.innerHTML = 'x-init example';
					} }" x-init="onPageLoad()">
					<div id="xinit"></div>
				</div>

				<div class="my-3" x-data="{ show: false }">
					<fieldset @click.outside="show = false" class="border border-1 border-secondary">
						<legend>@click.outside and x-cloak</legend>
						<button @click="show = true">Show</button>
						<div x-cloak x-show="show">
							<input type="radio" id="radio"/>
							<label for="radio">Spirit of radio</label>
						</div>
					</fieldset>
				</div>

				<div class="my-3" x-data="{ show: false }">
					<fieldset @click.self="show = false" class="border border-1 border-secondary">
						<legend>@click.self</legend>
						<button @click="show = true">Show</button>
						<div x-show="show">
							<input type="radio" id="radio"/>
							<label for="radio">Spirit of radio</label>
						</div>
					</fieldset>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
